{% assign sidebar = page.sidebar %}
{% if sidebar != 'no' %}
<aside>
	<div class="panel radius">
		<h3><a href='/countries/'>Pays</a> par continent</h3>
		
		<ul>
			<li><a href='/countries/europe/'>Europe</a></li>
			<li><a href='/countries/asie/'>Asie</a></li>
			<li><a href='/countries/afrique/'>Afrique</a></li>
			<li><a href='/countries/amerique/'>Amérique</a></li>
			<li><a href='/countries/oceanie/'>Océanie</a></li>
			<li><a href='/countries/autres/'>Autres...</a></li>
		</ul>
		
	</div>
</aside>
{% endif %}
