<aside>
	<div class="panel radius">
		<center><h3>{{ page.title }}</h3></center>
		<p>
			<ul>
				{% if page.capitale %}<li>Capitale: {{ page.capitale }}</li>{% endif %}
				{% if page.superficie %}<li>Superficie: {{ page.superficie }} <abbr title='kilomètres carrés'>km²</abbr></li>{% endif %}
				{% if page.population %}<li>Population: {{ page.population }} <abbr title='habitants'>hab.</abbr></li>{% endif %}
				{% if page.jourpasses %}<li>Nombre de jours passés: {{ page.jourspasses }}</li>{% endif %}
				{% if page.drivers %}<li>Conducteurs rencontrés: {{ page.drivers }}</li>{% endif %}
				{% if page.monnaielocale %}<li>Nombre de monnaies locales: {{ page.monnaielocale }}</li>{% endif %}
			</ul>
		</p>
	</div>

	{% include maps %}

{% include carousel %}

	<br>
</aside>
