<aside>
	{% assign pays = site.data.countries[page.title] %}
	<div class="panel radius">
			
				{% if pays.capitale %}- Capitale: {{ pays.capitale }}{% endif %}
				{% if pays.superficie %}- Superficie: {{ pays.superficie }} <abbr title='kilomètres carrés'>km²</abbr>{% endif %}
				{% if pays.population %}- [Icone personne]: {{ pays.population }} <abbr title='habitants'>hab.</abbr>{% endif %}
				{% if pays.monnaie %}- [Icone monnaie]: {{ pays.monnaie }}{% endif %}
				{% if pays.jourpasses %}- [Icone calendrier]: {{ pays.jourpasses }}{% endif %}
				{% if pays.monnaies_locales %}- Nombre de monnaies locales: {{ pays.monnaies_locales }}{% endif %}
				{% if pays.conducteurs %}- Conducteurs rencontrés: {{ pays.conducteurs }}{% endif %}
				{% if attente_record %}- [Icone horloge]: {{ pays.attente_record }}{% endif %}
				{% if pays.distance %}- Distance totale parcourue: {{ pays.distance }}{% endif %}
				{% if pays.km_voiture %}- [Icone voiture]: {{ pays.km_voiture }}{% endif %}
				{% if pays.km_voiture_record %}- Record en une voiture: {{ pays.km_voiture_record }}{% endif %}
				{% if pays.km_camion %}- [Icone camion]: {{ pays.km_camion }}{% endif %}
				{% if pays.km_camion_record %}- Record en un camion: {{ pays.km_camion_record }}{% endif %}
				{% if pays.km_bateau %}- [Icone bateau]: {{ pays.km_bateau }}{% endif %}
				{% if pays.km_bateau_record %}- Record en un bateau: {{ pays.km_bateau_record }}{% endif %}
				{% if pays.cartes_postales %}- [Icone cartes] {{ pays.cartes_postales }}{% endif %}
				{% if pays.nuits_dehors %}- [Icone lune]: {{ pays.nuits_dehors }}{% endif %}
			
	</div>

	<div class="panel radius">

	{% include maps %}

	</div>
	{% if pays.video %}
	<div class="panel radius">
	<iframe width="100%" height="200" src="https://www.youtube.com/embed/{{ pays.video }}">
	</iframe>
	</div>
	{% endif %}
	
	
	<div class="panel radius">
	<a data-flickr-embed="true" data-context="true"  href="https://www.flickr.com/photos/adeuxline/26231177169"><img src="https://farm5.staticflickr.com/4483/26231177169_5d51cd11cf_k.jpg" width="100%" height="200"></a>
	</iframe>
	</div>
	
	<br>
</aside>
