{% assign total_pays = 0 %}
{% for pays in site.data.countries %}
    {% assign total_pays = total_pays | plus: pays[1].traverse %}
{% endfor %}

<a data-flickr-embed="true" href="https://www.flickr.com/photos/adeuxline/26231177819/in/datetaken-public/" title="Première tentative de stop"><img src="https://farm5.staticflickr.com/4459/26231177819_aba1e76ddc_n.jpg" width="72" height="96" alt="Première tentative de stop" style="float:left;margin-bottom:3px; margin-right:8px;"></a>
Le voyage a commencé le <b>9 janvier 2018</b>. J'ai déjà traversé <b>{{ total_pays }}</b> pays. <a href="/stats/">Voir plus de statistiques</a>.<br/>
Romain a décidé de partir à la découverte du monde. À 28 ans, il part en stop en direction de l'Australie. Son objectif ? Atteindre l'île par seul moyen de son pouce. Il emmène avec lui des enfants afin de leur permettre de vivre son aventure avec lui jour après jour.<br/>
Les enfants lui donneront des défis tout au long du voyage, afin de découvrir la langue et la culture locale.
