{% for country in site.countries %}

  {% if page.title = country.name %}
  
{% if country.date %}<p> date: "{{ country.date }}" </p>{% endif %}
    {% if country.dateBegin %}<p> dateBegin: "{{ country.dateBegin }}" </p>{% endif %}
    {% if country.dateEnd %}<p> dateEnd: "{{ country.dateEnd }}" </p>{% endif %}
    {% if country.nameFr %}<p> nameFr: "{{ country.nameFr }}" </p>{% endif %}
    {% if country.nameEn %}<p> dateEn: "{{ country.nameEn }}" </p>{% endif %}
    {% if country.nameEs %}<p> dateEs: "{{ country.nameEs }}" </p>{% endif %}
    {% if country.capitale %}<p> capitale: "{{ country.capitale }}" </p>{% endif %}
  
  {% endif %}
  
{% endfor %}
