{% for country in site.countries %}

  {% if page.title = country.name %}
  
    {% if country.date %} date: "{{ country.date }}" {% endif %}
    {% if country.dateBegin %} dateBegin: "{{ country.dateBegin }}" {% endif %}
    {% if country.dateEnd %} dateEnd: "{{ country.dateEnd }}" {% endif %}
    {% if country.nameFr %} nameFr: "{{ country.nameFr }}" {% endif %}
    {% if country.nameEn %} dateEn: "{{ country.nameEn }}" {% endif %}
    {% if country.nameEs %} dateEs: "{{ country.nameEs }}" {% endif %}
    {% if country.capitale %} capitale: "{{ country.capitale }}" {% endif %}
  
  {% endif %}
  
{% endfor %}
