{% for country in site.countries %}

  {% if page.title = country.name %}
  
    {% if country.date %} date: "{{ country.date }}" {% endif %}
    {% if country.dateBegin %} date: "{{ country.dateBegin }}" {% endif %}
    {% if country.dateEnd %} date: "{{ country.dateEnd }}" {% endif %}
    {% if country.nameFr %} date: "{{ country.nameFr }}" {% endif %}
    {% if country.nameEn %} date: "{{ country.nameEn }}" {% endif %}
    {% if country.nameEs %} date: "{{ country.nameEs }}" {% endif %}
    {% if country.capitale %} date: "{{ country.capitale }}" {% endif %}
  
  {% endif %}
  
{% endfor %}
