<div id="googleMap" style="width:{% if include.taille %}{{ include.taille }}{% else %}100%{% endif %};height:400px;"></div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(
        {% if include.lat %}{{ include.lat }}{% else %}51.508742{% endif %},
        {% if include.long %}{{ include.long }}{% else %}-0.120850{% endif %}),
        zoom:{% if include.zoom %}{{ include.zoom }}{% else %}5{% endif %},
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

{% include google_maps_key.html %}

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d917356.2919718286!2d4.881186789983977!3d50.573916458938314!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sus!4v1496694203508" width="75%" height="400" frameborder="0" style="border:0" float="left"></iframe>
