<script>
      function initMap() {
        var {% if include.name %}{{ include.name }}{% else %}lln{% endif %} = {
            lat: {% if include.lat %}{{ include.lat }}{% else %}50.668447{% endif %},
            lng: {% if include.long %}{{ include.long }}{% else %}4.612091{% endif %}
        };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: {% if include.zoom %}{{ include.zoom }}{% else %}7{% endif %},
          center: {% if include.name %}{{ include.name }}{% else %}lln{% endif %}
        });
