<div class="country" float:right>
  <table>
    <thead> <!-- En-tête du tableau -->
      <tr>
          <td>Belgique</td>
      </tr>
      <tr>
        <th>(en) Belgium</th>
        <th>(es) Belgicà</th>
      </tr>
    </thead>
    <tbody> <!-- Corps du tableau -->
      <tr>
        <td>Carmen</td>
        <td>33 ans</td>
      </tr>
      <tr>
        <td>Michelle</td>
        <td>26 ans</td>
      </tr>
      <tr>
        <td>François</td>
        <td>43 ans</td>
      </tr>
      <tr>
        <td>Martine</td>
        <td>34 ans</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>13 ans</td>
      </tr>
      <tr>
        <td>Xu</td>
        <td>19 ans</td>
      </tr>
    </tbody>
  </table>
</div>
