 <div class="country" style="float:right; width:20%;">
    <table>
        {% for country in site.data.countries %}
        {% if {{ country.name }} == 'belgium' %}
        <tr>
            <th class="title" colspan="4">{{ country.nameFr }}</th>
        </tr>
        <tr>
          <th colspan="2" style="text-align:center;">(en) {{ country.nameEn }}</th>
          <th colspan="2" style="text-align:center;">(es) {{ country.nameEs }}</th>
        </tr>
       <tr>
         <th class="title" colspan="4">Statistiques de stop</th>
       </tr>
       <tr>
         <td><b>Conducteurs rencontrés</b></td>
         <td colspan="3">18</td>
       </tr>
       <tr>
         <td><b>Type de véhicule</b></td>
         <td colspan="3">5</td>
       </tr>
       <tr>
         <td><b>KM parcourus</b></td>
         <td colspan="3">2000</td>
       </tr>
       <tr>
         <th class="title" colspan="4">Informations</th>
       </tr>
       <tr>
         <td><b>Capitale</b></td>
         <td colspan="3">{{ country.capitale }}</td>
       </tr>
       <tr>
         <td><b>Superficie</b></td>
         <td colspan="3">{{ country.area }}</td>
       </tr>
       <tr>
         <td><b>Monnaie</b></td>
         <td colspan="3">{{ country.currency }}</td>
       </tr>
       <tr>
         <td><b>Langues</b></td>
         <td colspan="3">{{ country.languages }}</td>
       </tr>
         {% endif %}
       {% endfor %}
       <tr>
          <td><b>Visa ?</b></td>
          <td colspan="3"> Non</td>
        </tr>
    </table>
  </div>
