<div class="country" style=float:right>
  <table>
      <tr>
          <th class="title" colspan="4">{{ page.title }}</th>
      </tr>
      <tr>
        <th colspan="2" style="text-align:center;">(en) {{ page.nameEn }}</th>
        <th colspan="2" style="text-align:center;">(es) {{ page.nameEs }}</th>
      </tr>
      <tr>
        <th class="title" colspan="4">Carte</th>
      </tr>
      <tr>
        <td colspan="4" style="padding:40px; text-align:center;">CARTE DE LA {{ page.title | upcase}}</td>
      </tr>
      <tr>
        <th class="title" colspan="4">Statistiques de stop</th>
      </tr>
      <tr>
        <td><b>Conducteurs rencontrés</b></td>
        <td colspan="3">18</td>
      </tr>
      <tr>
        <td><b>Type de véhicule</b></td>
        <td colspan="3">5</td>
      </tr>
      <tr>
        <td><b>KM parcourus</b></td>
        <td colspan="3">2000</td>
      </tr>
      <tr>
        <th class="title" colspan="4">Informations</th>
      </tr>
      <tr>
        <td><b>Capitale</b></td>
        <td colspan="3">{{ page.capitale }}</td>
      </tr>
      <tr>
        <td><b>Superficie</b></td>
        <td colspan="3">{{ page.area }}</td>
      </tr>
      <tr>
        <td><b>Monnaie</b></td>
        <td colspan="3">{{ page.currency }}</td>
      </tr>
      <tr>
        <td><b>Langues</b></td>
        <td colspan="3">{{ page.languages }}</td>
      </tr>

      <tr>
        <td><b>Visa ?</b></td>
        <td colspan="3"> Non</td>
      </tr>

  </table>
</div>
