---
layout: country
title: belgium
continent: "europe"
date: 2017-05-20		
dateBegin: 2017-01-01				
dateEnd: 2017-05-25
capitale: "Bruxelles"						
nameFr: "Belgique"						
nameEn: "Belgium"						
nameEs: "Belgica"		
area: 30500		
currency: "Euro"		
languages: "Fr, Nl, Al"
---

<!-- Paramètres du <div> de la carte -->
<div id="map" style="
    width:{% if include.width %}{{ include.width }}{% else %}75%{% endif %};
    height:{% if include.height %}{{ include.height }}{% else %}400px{% endif %};
    float:{% if include.float %}{{ include.float }}{% else %}left{% endif %}
"></div>

<script>
    function initMap() {
		<!-- Création de la carte -->
        var map = new google.maps.Map(document.getElementById('map'), {
					zoom: {% if include.zoom %}{{ include.zoom }}{% else %}7{% endif %}
        });
        <!-- Lancement du service Geocoder -->
        geocoder = new google.maps.Geocoder();
		<!-- Placement des marqueurs avec Geocoder -->
		function getCountry(country) {
			geocoder.geocode( { 'address': country }, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					<!-- Centre la carte sur le Pays -->
					map.setCenter(results[0].geometry.location);
					<!-- Si jamais ça plante... -->
				} else {
					alert("Geocode was not successful for the following reason: " + status);
				}
			});
		}
		
		<!-- Ajout des marqueurs sur la carte -->
	getCountry('{% if include.country %}{{ include.country }}{% else %}Belgium{% endif %}');
		
	}
</script>

<!-- Ajout de la clé API Google Maps -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAyZPF-oG9ODz-KNImGAg4po4yq7rGn2s&callback=initMap">
</script>
