---
layout: country
title: belgium
continent: "europe"
date: 2017-05-20		
dateBegin: 2017-01-01				
dateEnd: 2017-05-25
capitale: "Bruxelles"						
nameFr: "Belgique"						
nameEn: "Belgium"						
nameEs: "Belgica"		
area: 30500		
currency: "Euro"		
languages: "Fr, Nl, Al"
---

{% include google_maps_settings.html 
width="75%"
height="400px"
%}

{% include google_maps.html %}

geocoder = new google.maps.Geocoder();

function getCity(city) {
    geocoder.geocode( { 'address': city }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
           map.setCenter(results[0].geometry.location);
           var marker = new google.maps.Marker({
               map: map,
               position: results[0].geometry.location
           });
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
    });
}

getCity('{{ page.title }}');

{% include google_maps_end.html %}
