---
layout: default
format: post
sidebar: right
breadcrumb: true
categories:
    - pays
---
<div class="row t30">
	<div class="medium-8 columns">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{% if page.image.title %}
				<figure>
					<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

					{% if page.image.caption_url and page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<div itemprop="name">
					{% if page.subheadline %}<p class="subheadline"><center>{{ page.subheadline }}</center></p>{% endif %}
					<center><h1>{{ page.title }}</h1></center>
				</div>
			</header>


			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}

			<div itemprop="articleSection">
			{% if page.mymaps%}
			<center><iframe src="https://www.google.com/maps/d/embed?mid={{ page.mymaps }}" width="100%" height="480"></iframe></center>
			{% endif %}
			{{ content }}
			</div>
			
		</article>
	</div><!-- /.medium-8.columns -->

	<div class="medium-4 columns">
		{% include _sidebar_countries.html %}
	</div><!-- /.medium-4.columns -->
</div><!-- /.row -->
