---
layout: default
---
<nav id="country">
	<ul>
		<li><a href="#">Europe</a></li>
		<li><a href="#">Asie</a></li>
		<li><a href="#">Afrique</a></li>
		<li><a href="#">Océanie</a></li>
		<li><a href="#">Amérique</a></li>
		<li><a href="#">Autres...</a></li>
	</ul>
</nav>
<h1>{{ page.nameFr }}</h1>
<p class="meta">J'étais dans le pays du {{ page.dateBegin | date_to_string }} au {{ page.dateEnd | date_to_string }}.</p>

<p>{% if page.nameEs %} Le nom en espagnol est {{ page.nameEs }} {% endif %}</p>

<p>Le nom en espagnol est "{{ page.nameEs }}".</p>

<div class="post">
  {{ content }}
</div>

<!-- Post comments -->
<div class="notecomments">
	{% include disqus.html %}	 
</div>
