<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<center><nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/countries">Pays</a></li>
	        		<li><a href="/alcools">Alcools</a></li>
	        		<li><a href="/tests">Tests</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="#">About</a></li>
				<li><a href="/todo">Liste des choses à faire...</a></li>
	    		</ul>
				</nav></center>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:laberomain@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Adeuxline">github.com/Adeuxline</a></li>
				</ul>
			</footer>
		</body>
	</html>
