---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<div class="row t60">
{% include about-us-min.html %}
</div>
{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->

{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}



{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            <p>
                <iframe width="100%" height="480" src="https://www.polarsteps.com/OnceAPonyTime/322743-world-tour?embed=true"></iframe>
            </p>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->

{% comment %}
    <div class="row">
        <div class="medium-6 columns">
            <p><strong>Derniers pays visités</strong></p>
            {% include list-posts category='pays' entries='3' offset='1' %}
        </div><!-- /.medium-6.columns -->


        <div class="medium-6 columns">
            <p><strong>Derniers articles</strong></p>
            {% include list-posts category='article' entries='3' offset='1' %}
        </div><!-- /.medium-6.columns -->
    </div><!-- /.row -->
	
    <div class="row">
        <div class="medium-6 columns">
            <p><strong>Derniers défis</strong></p>
            {% include list-posts category='defi' entries='3' offset='1' %}
        </div><!-- /.medium-6.columns -->


        <div class="medium-6 columns">
            <p><strong>Derniers projets</strong></p>
            {% include list-posts category='projet' entries='3' offset='1' %}
        </div><!-- /.medium-6.columns -->
    </div><!-- /.row -->
{% endcomment %}
{% endunless %}

