---
layout: default
format: post
---
{% include _navigation_countries.html %}

<div class="row t30">
	<div class="medium-12">
		<article itemscope itemtype="http://schema.org/Article">
			<header>

				<div itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
				</div>
			</header>

			<div itemprop="articleSection">
			{{ content }}
			</div>

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

		</article>
	</div><!-- /.medium-8.columns -->
</div><!-- /.row -->
